<mat-card style="display: grid; place-items: center">
    <mat-card-header>
      <h2><b>User Update</b></h2>
    </mat-card-header>
    <mat-card-content>
      <form
        class="registerForm"
        [formGroup]="updateForm"
        (ngSubmit)="updateUser()">
        <mat-form-field appearance="outline" class="form-elements">
          <mat-label>Role</mat-label>
          <mat-select formControlName="role">
            <mat-option value="admin">Admin</mat-option>
            <mat-option value="user">User</mat-option>
            <!-- <mat-option *ngFor="let item of roleList" [value]="item._id">
              {{item.value}}
            </mat-option> -->
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" style="float: right;"> Update </button>
          <a mat-dialog-close mat-raised-button color="warn"> Close </a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  