<h1 style="text-align: center; margin-top: 20px;">
    <b>Employee - {{employee.name}}</b>
</h1>
<main class="empDetail">
    <h1 id="id"><b># {{employee._id}} </b></h1>
    <hr>

<div>
    <mat-label>Employee Name : </mat-label>
    <h3>{{employee.name}}</h3>
</div>

<div>
    <mat-label>Email Id : </mat-label>
    <h3 style="text-transform: none;">{{employee.email}}</h3>
</div>

<div>
    <mat-label>Employee Age : </mat-label>
    <h3>{{employee.age}}</h3>
</div>

<div>
    <mat-label>Date of Birth : </mat-label>
    <h3>{{employee.dob}}</h3>
</div>

<div>
    <mat-label>Phone Number : </mat-label>
    <h3>{{employee.phoneNumber}}</h3>
</div>

<div>
    <mat-label>Gender : </mat-label>
    <h3>{{employee.gender}}</h3>
</div>

<div>
    <mat-label>Job Title : </mat-label>
    <h3>{{employee.jobTitle}}</h3>
</div>

<div>
    <mat-label>Department : </mat-label>
    <h3>{{employee.department}}</h3>
</div>

<div>
    <mat-label>Hiring Date : </mat-label>
    <h3>{{employee.hiringDate}}</h3>
</div>

<div>
    <mat-label>Bank Name : </mat-label>
    <h3>{{employee.bank}}</h3>
</div>

<div>
    <mat-label>Bank Account Number : </mat-label>
    <h3>{{employee.bankAccount}}</h3>
</div>

<div>
    <mat-label>City : </mat-label>
    <h3>{{employee.city}}</h3>
</div>

<div>
    <mat-label>State : </mat-label>
    <h3>{{employee.state}}</h3>
</div>

<div>
    <mat-label>Salary : </mat-label>
    <h3>{{employee.salary}}</h3>
</div>
</main>