<div class="container">
    <mat-card>
      <div class="addForm">
        <div>
          <h2 style="text-align: center">
            <b>Add New Employee Here! </b>
          </h2>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-elements" required>
            <mat-label>Employee Name</mat-label>
            <input matInput [(ngModel)]="employeeDetail.name" />
            <mat-error *ngIf="!employeeDetail.name" >Employee Name is Required</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-elements" required>
            <mat-label>Employee Email</mat-label>
            <input matInput type="email" [(ngModel)]="employeeDetail.email"/>
            <mat-error *ngIf="!employeeDetail.email">Employee Email is Required</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-elements" required>
            <mat-label>Employee Age</mat-label>
            <input matInput [(ngModel)]="employeeDetail.age" />
            <mat-error *ngIf="!employeeDetail.age">Age is Required</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-elements" required>
            <mat-label>Employee Date of Birth</mat-label>
            <input matInput type="date" [(ngModel)]="employeeDetail.dob" />
            <mat-error *ngIf="!employeeDetail.dob">DOB is Required</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-elements" required>
            <mat-label>Phone Number</mat-label>
            <input matInput  [(ngModel)]="employeeDetail.phoneNumber"/>
            <mat-error *ngIf="!employeeDetail.phoneNumber">Phone Numberis Required</mat-error>
          </mat-form-field>
        </div>
        <div style="margin-bottom: 20px;">
          <mat-radio-group [(ngModel)]="employeeDetail.gender" aria-label="gender" required>
            <mat-label>Gender</mat-label>
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
          </mat-radio-group>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-elements" required>
            <mat-label>Job</mat-label>
            <input matInput  [(ngModel)]="employeeDetail.jobTitle"/>
            <mat-error *ngIf="!employeeDetail.jobTitle">Job Title Required</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="width: 100%;" required>
            <mat-label>Department</mat-label>
            <mat-select  [(ngModel)]="employeeDetail.department">
              <mat-option value="Design">Design</mat-option>
              <mat-option value="Development">Devlopment</mat-option>
              <mat-option value="Prodution">Production</mat-option>
              <mat-option value="Service">Service</mat-option>
            </mat-select>
            <mat-error *ngIf="!employeeDetail.department">Employee Department is Required</mat-error>
        </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-elements" required>
            <mat-label>City</mat-label>
            <input matInput  [(ngModel)]="employeeDetail.city"/>
            <mat-error *ngIf="!employeeDetail.city">City is Required</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-elements" required>
            <mat-label>State</mat-label>
            <input matInput  [(ngModel)]="employeeDetail.state"/>
            <mat-error *ngIf="!employeeDetail.state">State is Required</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-elements" required>
            <mat-label>Hiring Date</mat-label>
            <input matInput type="date" [(ngModel)]="employeeDetail.hiringDate" />
            <mat-error *ngIf="!employeeDetail.hiringDate">Hiring Date is Required</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-elements" required>
            <mat-label>Bank Name</mat-label>
            <input matInput [(ngModel)]="employeeDetail.bank" />
            <mat-error *ngIf="!employeeDetail.bank">Bank Name is Required</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-elements" required>
            <mat-label>Bank Account Number</mat-label>
            <input matInput [(ngModel)]="employeeDetail.bankAccount"/>
            <mat-error *ngIf="!employeeDetail.bankAccount">Bank Account Number is Required</mat-error>
          </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="form-elements" required>
              <mat-label>Salary</mat-label>
              <input matInput  [(ngModel)]="employeeDetail.salary"/>
              <mat-error *ngIf="!employeeDetail.salary">Salary is Required</mat-error>
            </mat-form-field>
          </div>
        <div>
          <button
            mat-raised-button
            color="primary"
            type="button"
            style="float: right"
            (click)="addEmployee()">
            Add Employee
          </button>
        </div>
      </div>
    </mat-card>
  </div>
  